<div class="page">
    <div class="list1">
        <div class="nav-list1">
            一级菜单1
            <div class="list2">
                <div class="nav-list2">
                    二级菜单1
                    <div class="list3">
                        <div class="nav-list3">三级菜单1</div>
                        <div class="nav-list3">三级菜单2</div>
                        <div class="nav-list3">三级菜单3</div>
                    </div>
                </div>
                <div class="nav-list2">
                    二级菜单2
                    <div class="list3">
                        <div class="nav-list3">三级菜单1</div>
                        <div class="nav-list3">三级菜单2</div>
                        <div class="nav-list3">三级菜单3</div>
                    </div>
                </div>
                <div class="nav-list2">
                    二级菜单3
                    <div class="list3">
                        <div class="nav-list3">三级菜单1</div>
                        <div class="nav-list3">三级菜单2</div>
                        <div class="nav-list3">三级菜单3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-list1">
            一级菜单2
        </div>
        <div class="nav-list1">一级菜单3</div>
        <div class="nav-list1">一级菜单4</div>
        <div class="nav-list1">一级菜单5</div>
    </div>
</div>
